form(action="/").addProject
    if name == 'index'
        .addProject-header
            select.addProject_client.select(name="client_name")
                option(value="Дима Inc.") Дима Inc.
                option(value="Дима Inc.") Дима Inc.asdf
                option(value="Дима Inc.") Дима Inc.wefewfewf
                option(value="Дима Inc.") Дима Inc.efwef
            input.addProject_input.input(
                name="number"
                placeholder='Номер'
                type="text"
            )
            input.addProject_input.input(
                name="location"
                placeholder='Местоположение'
                type="text"
            )
            input.addProject_input.input(
                name="cadastre"
                placeholder='Кадастр'
                type="text"
            )
        ul.addProject-stages
            li.addProject-stage
                .addProject-stage_name Обследование
                .addProject-stage-content
                    .addProject-stage-user
                        .addProject-stage-user_name Иванов И. И.
                        .addProject-stage-user_photo__wrapper
                            img.addProject-stage-user_photo(src="@images/photo.png", alt="")
            li.addProject-stage
                .addProject-stage_name Геодезические изыскания
                .addProject-stage-content
                    .addProject-stage-user
                        .addProject-stage-user_name Иванов И. И.
                        .addProject-stage-user_photo__wrapper
                            img.addProject-stage-user_photo(src="@images/photo.png", alt="")
            li.addProject-stage
                .addProject-stage_name Проектирование
                .addProject-stage-content
                    ul.addProject-stage-list
                        li.addProject-stage-list-item Иванов И. И.
                        li.addProject-stage-list-item Иванов И. И.
                        li.addProject-stage-list-item Иванов И. И.
                        li.addProject-stage-list-item Иванов И. И.
                        li.addProject-stage-list-item Иванов И. И.
                        li.addProject-stage-list-item Иванов И. И.
                        li.addProject-stage-list-item Иванов И. И.
                        li.addProject-stage-list-item Иванов И. И.
                        li.addProject-stage-list-item Иванов И. И.
                        li.addProject-stage-list-item Иванов И. И.
                        li.addProject-stage-list-item Иванов И. И.
            li.addProject-stage
                .addProject-stage_name Н.Контр
                .addProject-stage-content
                    .addProject-stage-user
                        .addProject-stage-user_name Иванов И. И.
                        .addProject-stage-user_photo__wrapper
                            img.addProject-stage-user_photo(src="@images/photo.png", alt="")
            li.addProject-stage
                .addProject-stage_name Печать для согласования
                .addProject-stage-content
                    .addProject-stage-user
                        .addProject-stage-user_name Иванов И. И.
                        .addProject-stage-user_photo__wrapper
                            img.addProject-stage-user_photo(src="@images/photo.png", alt="")
            li.addProject-stage
                .addProject-stage_name Согласование
                .addProject-stage-content
                    ul.addProject-stage-list
                        li.addProject-stage-list-item Иванов И. И.
                        li.addProject-stage-list-item Иванов И. И.
                        li.addProject-stage-list-item Иванов И. И.
                        li.addProject-stage-list-item Иванов И. И.
                        li.addProject-stage-list-item Иванов И. И.
                        li.addProject-stage-list-item Иванов И. И.
                        li.addProject-stage-list-item Иванов И. И.
                        li.addProject-stage-list-item Иванов И. И.
                        li.addProject-stage-list-item Иванов И. И.
                        li.addProject-stage-list-item Иванов И. И.
                        li.addProject-stage-list-item Иванов И. И.
            li.addProject-stage
                .addProject-stage_name Сметная документация
                .addProject-stage-content
                    .addProject-stage-user
                        .addProject-stage-user_name Иванов И. И.
                        .addProject-stage-user_photo__wrapper
                            img.addProject-stage-user_photo(src="@images/photo.png", alt="")
            li.addProject-stage
                .addProject-stage_name Согласование заказчика
                .addProject-stage-content
                    .addProject-stage-user
                        .addProject-stage-user_name Иванов И. И.
                        .addProject-stage-user_photo__wrapper
                            img.addProject-stage-user_photo(src="@images/photo.png", alt="")
            li.addProject-stage
                .addProject-stage_name Печать для сдачи
                .addProject-stage-content
                    ul.addProject-stage-list
                        li.addProject-stage-list-item Иванов И. И.
                        li.addProject-stage-list-item Иванов И. И.
                        li.addProject-stage-list-item Иванов И. И.
                        li.addProject-stage-list-item Иванов И. И.
                        li.addProject-stage-list-item Иванов И. И.
                        li.addProject-stage-list-item Иванов И. И.
                        li.addProject-stage-list-item Иванов И. И.
                        li.addProject-stage-list-item Иванов И. И.
                        li.addProject-stage-list-item Иванов И. И.
                        li.addProject-stage-list-item Иванов И. И.
                        li.addProject-stage-list-item Иванов И. И.
            li.addProject-stage
                .addProject-stage_name Сдача по накладной
                .addProject-stage-content
                    ul.addProject-stage-list
                        li.addProject-stage-list-item Иванов И. И.
                        li.addProject-stage-list-item Иванов И. И.
                        li.addProject-stage-list-item Иванов И. И.
                        li.addProject-stage-list-item Иванов И. И.
                        li.addProject-stage-list-item Иванов И. И.
                        li.addProject-stage-list-item Иванов И. И.
                        li.addProject-stage-list-item Иванов И. И.
                        li.addProject-stage-list-item Иванов И. И.
                        li.addProject-stage-list-item Иванов И. И.
                        li.addProject-stage-list-item Иванов И. И.
                        li.addProject-stage-list-item Иванов И. И.
    if name == 'clients'
        .addProject-header
            input.addProject_input.input(
                type="text"
                placeholder='Организация'
            )
